<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="fh5co-logo"><a routerLink="/">Wedding<strong>.</strong></a></div>
        </div>
        <div class="col-xs-10 text-right menu-1">
          <ul>
            <li class="active"><a (click)="scrollToBlock('page')">Home</a></li>
            <li><a (click)="scrollToBlock('fh5co-event')">Dates</a></li>
            <li><a (click)="scrollToBlock('fh5co-couple-story')">Story</a></li>
            <li><a (click)="scrollToBlock('fh5co-gallery')">Gallery</a></li>
            <li><a (click)="scrollToBlock('fh5co-testimonial')">Wishes</a></li>
          </ul>
        </div>
      </div>

    </div>
  </nav>

  <router-outlet></router-outlet>

</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>


<footer id="fh5co-footer" role="contentinfo">
  <div class="container">
      <div class="col-md-12 text-center">
        <ul class="fh5co-social-icons">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
        </ul>
    </div>
  </div>
</footer>
