<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../../assets/images/beach_photo.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Desmond &amp; Irina</h1>
            <h2>Hello! We Are Getting Married <3 and would like<br>
             to Invite You to Celebrate Our Wedding! </h2>
            <h2>June 16th, 2019 Ayr, Scotland</h2>
            <div class="simply-countdown simply-countdown-one"></div>
            <p><a routerLink="/savethedate" class="btn btn-default btn-sm">Save the date</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
