<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../../assets/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Desmond &amp; Irina</h1>
            <h2>Hello! We Are Getting Married <3 and would like<br>
             to Invite You to Celebrate Our Wedding! </h2>
            <h2>June 16th, 2019 Ayr, Scotland</h2>
            <div class="simply-countdown simply-countdown-one"></div>
            <p><a routerLink="/savethedate" class="btn btn-default btn-sm">Save the date</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="fh5co-couple-story">
  <div class="container">
    <div class="row" ngsReveal>
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <span>We Love Each Other</span>
        <h2>Our Story</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0">
        <ul class="timeline animate-box" ngsRevealSet [ngsSelector]="'.animate-box'">
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-1.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Early Days</h3>
                <span class="date">December, 2013</span>
              </div>
              <div class="timeline-body">
                <p>Started dating</p>
              </div>
            </div>
          </li>
          <li class="animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-2.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">European Adventures</h3>
                <span class="date">Summer 2015</span>
              </div>
              <div class="timeline-body">
                <p>Malta, Denmark, Paris, Oersberg</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-3.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Life In Munich</h3>
                <span class="date">October 2015 - August 2016</span>
              </div>
              <div class="timeline-body">
                <p>Living together, new country, new uni, new friends, what a time</p>
              </div>
            </div>
          </li>
          <li class="animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-4.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">A year apart</h3>
                <span class="date">September 2016 - August 2017</span>
              </div>
              <div class="timeline-body">
                <p>Distance makes the heart grow fonder</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-5.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Proposal</h3>
                <span class="date">December 24, 2017</span>
              </div>
              <div class="timeline-body">
                <p>She said yes ;)</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(../../assets/images/img_bg_5.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2>Our Life Together</h2>
        <span>So Far</span>
      </div>
    </div>
    <div class="row">
      <div class="display-t">
        <div class="display-tc">
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-users"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="500" data-speed="5000" data-refresh-interval="50">12</span>
              <span class="counter-label">Countries Visited</span>

            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-user"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="1000" data-speed="5000" data-refresh-interval="50">66</span>
              <span class="counter-label">Months</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-calendar"></i>
              </span>
              <span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">5467</span>
              <span class="counter-label">Miles Travelled</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-clock"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="2345" data-speed="5000" data-refresh-interval="50">100</span>
              <span class="counter-label">Something funny & cute</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-event" class="fh5co-bg" style="background-image:url(../../assets/images/img_bg_3.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row" ngsReveal>
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2>Wedding Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="display-t">
        <div class="display-tc">
          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-sm-6 text-center" ngsReveal>
              <div class="event-wrap animate-box">
                <h3>Ceremony</h3>
                <div class="event-col">
                  <i class="icon-clock"></i>
                  <span>12:00 PM</span>
                  <span>1:30 PM</span>
                </div>
                <div class="event-col">
                  <i class="icon-calendar"></i>
                  <span>Sunday 16</span>
                  <span>June, 2019</span>
                </div>
                <p>We will have a civil ceremony at the Western House Hotel, Ayr, Scotland. It would be outside or inside, depending on the weather.</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 text-center" ngsReveal>
              <div class="event-wrap animate-box">
                <h3>Wedding Party</h3>
                <div class="event-col">
                  <i class="icon-clock"></i>
                  <span>1:30 PM</span>
                  <span>12:00 AM</span>
                </div>
                <div class="event-col">
                  <i class="icon-calendar"></i>
                  <span>Sunday 16</span>
                  <span>June, 2019</span>
                </div>
                <p>Let's party! You won't have to go far - reception is in the same hotel :) Lunch planned for 2:30 pm, dinner - 7:00 pm onwards.
                  There is a cash bar and a dancefloor!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="fh5co-testimonial">
  <div class="container">
    <div class="row">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <span>Best Wishes</span>
          <h2>Friends Wishes</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 animate-box">
          <div class="wrap-testimony">
            <div class="owl-carousel-fullwidth">
              <div class="item">
                <div class="testimony-slide active text-center">
                  <figure>
                    <img src="../../assets/images/couple-1.jpg" alt="user">
                  </figure>
                  <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                  <blockquote>
                    <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics"</p>
                  </blockquote>
                </div>
              </div>
              <div class="item">
                <div class="testimony-slide active text-center">
                  <figure>
                    <img src="../../assets/images/couple-2.jpg" alt="user">
                  </figure>
                  <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                  <blockquote>
                    <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, at the coast of the Semantics, a large language ocean."</p>
                  </blockquote>
                </div>
              </div>
              <div class="item">
                <div class="testimony-slide active text-center">
                  <figure>
                    <img src="../../assets/images/couple-3.jpg" alt="user">
                  </figure>
                  <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                  <blockquote>
                    <p>"Far far away, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div id="fh5co-services" class="fh5co-section-gray">-->
  <!--<div class="container">-->

    <!--<div class="row animate-box">-->
      <!--<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">-->
        <!--<h2>We Offer Services</h2>-->
        <!--<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-md-6">-->
        <!--<div class="feature-left animate-box" data-animate-effect="fadeInLeft">-->
          <!--<span class="icon">-->
            <!--<i class="icon-calendar"></i>-->
          <!--</span>-->
          <!--<div class="feature-copy">-->
            <!--<h3>We Organized Events</h3>-->
            <!--<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="feature-left animate-box" data-animate-effect="fadeInLeft">-->
          <!--<span class="icon">-->
            <!--<i class="icon-image"></i>-->
          <!--</span>-->
          <!--<div class="feature-copy">-->
            <!--<h3>Photoshoot</h3>-->
            <!--<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="feature-left animate-box" data-animate-effect="fadeInLeft">-->
          <!--<span class="icon">-->
            <!--<i class="icon-video"></i>-->
          <!--</span>-->
          <!--<div class="feature-copy">-->
            <!--<h3>Video Editing</h3>-->
            <!--<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

      <!--<div class="col-md-6 animate-box">-->
        <!--<div class="fh5co-video fh5co-bg" style="background-image: url(../../assets/images/img_bg_3.jpg); ">-->
          <!--<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a>-->
          <!--<div class="overlay"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


  <!--</div>-->
<!--</div>-->


<div id="fh5co-started" class="fh5co-bg" style="background-image:url(../../assets/images/img_bg_4.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Are You Attending?</h2>
        <p>Please Fill-up the form to notify you that you're attending. Thanks.</p>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-10 col-md-offset-1">
        <form class="form-inline">
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <label for="name" class="sr-only">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <button type="submit" class="btn btn-default btn-block">I am Attending</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
