<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../assets/images/img_bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Save the Date</h1>
            <h2>Let us know if you can join us for our special day!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div style="text-align: center; margin: 30px 0;">
  <div>
    We would be honoured if you could join us for our wonderful day.
  </div>
  <div>
    Let us know if you can make it so we can plan th best wedding whaaetaayay...
  </div>
</div>

<mat-card>
  <div class="form-container">
    <h1>Your Details</h1>
    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]="guest.firstname">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]="guest.lastname">
    </mat-form-field>
  </div>
</mat-card>

<div  style="text-align: center; margin-top: 15px;">
  <button mat-raised-button color="accent" [disabled]="!formComplete()" (click)="findMyInvitation()">Find My Invitation</button>
</div>

<jw-modal id='rsvp-form'>
  <h1>A Custom Modal!</h1>
  <p>Home page text: </p>
  <button (click)="closeModal('rsvp-form');">Close</button>
</jw-modal>
