
<div id="fh5co-started" class="fh5co-bg" style="background-image:url(../../assets/images/saveTheDate.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Save the Date</h2>
        <p>Let us know if you can join us for our special day!</p>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-10 col-md-offset-1">
        <!--<form class="form-inline">-->
          <!--<div class="col-md-4 col-sm-4">-->
            <!--<div class="form-group">-->
              <!--<label for="name" class="sr-only">Name</label>-->
              <!--<input type="text" class="form-control" id="name" placeholder="Name">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-4">-->
            <!--<div class="form-group">-->
              <!--<label for="email" class="sr-only">Email</label>-->
              <!--<input type="email" class="form-control" id="email" placeholder="Email">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-4">-->
            <!--<button type="submit" class="btn btn-default btn-block">I am Attending</button>-->
          <!--</div>-->
        <!--</form>-->
      </div>
    </div>
  </div>
</div>


<div style="text-align: center; margin: 30px 0;">
  <div>
    We would be honoured if you could join us for our wonderful day.
  </div>
  <div>
    Let us know if you can make it so we can plan th best wedding whaaetaayay...
  </div>
</div>

<mat-card>
  <div class="form-container">
    <h1>Your Details</h1>
    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]="firstname">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]="lastname">
    </mat-form-field>
  </div>
</mat-card>

<div style="text-align: center; margin-top: 15px;">
  <button mat-raised-button color="accent" [disabled]="!formComplete()" (click)="findMyInvitation()">Find My
    Invitation
  </button>
</div>

<jw-modal id='rsvp-form'>
  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
    <h2>RSVP</h2>
    <h3> Hey {{guest.firstname }} :) Can you make it on the <br> <i> 16th June 2019? </i></h3>
  </div>

  <mat-card>
    <div class="form-container">
      <h1>{{guest.firstname }} {{guest.lastname }} </h1>

      <mat-form-field class="wide">
        <mat-select placeholder="Will you be able to make it?" [(ngModel)]="guest.attending">
          <mat-option [value]="1">Definitely!</mat-option>
          <mat-option [value]="2">Not sure</mat-option>
          <mat-option [value]="3">Unfortunately not</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <span *ngIf="guest.attending && guest.attending !== 3">
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input placeholder="Please add country code" matInput [(ngModel)]="guest.contact_phone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contact Email</mat-label>
        <input matInput type="email" [(ngModel)]="guest.contact_email" email>
      </mat-form-field>
      <br>
      <mat-form-field class="wide" *ngIf="guest.plusOneOffered">
        <mat-select placeholder="Are you bringing a plus one?" [(ngModel)]="guest.plusOneNeeded">
          <mat-option [value]="false" (onSelectionChange)="clearPlusOne()">No</mat-option>
          <mat-option [value]="true">Yes</mat-option>
        </mat-select>
      </mat-form-field>
      </span>
    </div>
  </mat-card>
  <span *ngIf="guest.plusOneNeeded">
  <mat-card>
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Partner's First Name" [(ngModel)]="plusOne.firstname">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Partner's Last Name" [(ngModel)]="plusOne.lastname">
      </mat-form-field>
      <br>
      <mat-checkbox [(ngModel)]="contactCheckbox" (change)="copyContactDetails()">Use my contact info </mat-checkbox>
      <br>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput [(ngModel)]="plusOne.contact_phone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contact Email</mat-label>
        <input matInput type="email" [(ngModel)]="plusOne.contact_email" email>
      </mat-form-field>
    </div>
  </mat-card>
  </span>

  <div style="text-align: center; margin-top: 15px;">
    <button mat-raised-button color="accent" [disabled]="!rsvpComplete()" (click)="submit()">Send RSVP</button>
  </div>

  <button (click)="closeModal('rsvp-form');">Close</button>
</jw-modal>
