
<div id="fh5co-started" class="fh5co-bg" style="background-image:url(../../assets/images/saveTheDate.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Save the Date</h2>
        <p>Enter your details to let us know if you can join us!</p>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-11 col-md-offset-1">
        <div class="form-inline">
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <label for="name" class="sr-only">First Name</label>
              <input type="text" class="form-control" id="name" placeholder="First Name" [(ngModel)]="guest.first_name">
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <label for="lastname" class="sr-only">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Last Name" [(ngModel)]="guest.last_name">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <button class="btn btn-default btn-block" [disabled]="!formComplete()" (click)="findMyInvitation()">Find My
            Invitation
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<jw-modal id='rsvp-form'>
  <div class="text-center fh5co-heading animate-box">
    <h2>RSVP</h2>
    <h3> Hey {{guest.first_name }} :) Can you make it on the <i>16th June 2019?</i><br> We might need your contact details for the formal invitation to follow.</h3>
  </div>

  <mat-card>
    <div class="form-container">
      <h1>{{guest.first_name }} {{guest.last_name }} </h1>

      <mat-form-field class="wide">
        <mat-select placeholder="Will you be able to make it?" [(ngModel)]="guest.attending">
          <mat-option [value]="1">Definitely!</mat-option>
          <mat-option [value]="2">Not sure</mat-option>
          <mat-option [value]="3">Unfortunately not</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <span *ngIf="guest.attending && guest.attending !== 3">
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input placeholder="Please add country code" matInput [(ngModel)]="guest.contact_phone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contact Email</mat-label>
        <input matInput type="email" [(ngModel)]="guest.contact_email" email>
      </mat-form-field>
      <br>
      <mat-form-field class="wide" *ngIf="guest.plusOneOffered">
        <mat-select placeholder="Are you bringing a plus one?" [(ngModel)]="guest.plusOneNeeded">
          <mat-option [value]="false" (onSelectionChange)="clearPlusOne()">No</mat-option>
          <mat-option [value]="true">Yes</mat-option>
        </mat-select>
      </mat-form-field>
      </span>
    </div>
  </mat-card>
  <span *ngIf="guest.plusOneNeeded">
  <mat-card>
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Partner's First Name" [(ngModel)]="plusOne.firstname">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Partner's Last Name" [(ngModel)]="plusOne.lastname">
      </mat-form-field>
      <br>
      <mat-checkbox [(ngModel)]="contactCheckbox" (change)="copyContactDetails()">Use my contact info </mat-checkbox>
      <br>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput [disabled]="contactCheckbox" [(ngModel)]="plusOne.contact_phone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contact Email</mat-label>
        <input matInput type="email" [disabled]="contactCheckbox" [(ngModel)]="plusOne.contact_email" email>
      </mat-form-field>
    </div>
  </mat-card>
  </span>

  <div style="text-align: center; margin-top: 15px;">
    <button mat-raised-button color="accent" [disabled]="!rsvpComplete()" (click)="submit()">Send RSVP</button>
  </div>

  <button (click)="closeModal('rsvp-form');">Close</button>
</jw-modal>
