/*.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {*/
.mat-step-header div.mat-step-icon  { background: none !important; }

.mat-step-icon .mat-icon {
  font-size: 45px !important;
  height: 45px !important;
  width: 45px !important;
}

.mat-step-icon .mat-icon, .mat-step-icon-content {
  top: auto !important;
}

.meal-option-card {
  max-width: 300px;
  min-width: 200px;
  margin: 10px;
}

.meal-options-space {
  display: flex;
  flex-wrap: wrap;
}

.choice {
  box-shadow: 0 0 3pt 2pt #b020cc !important;
}

.selected-option {
  background-color: #b020cc;
  color: white;
}

@media (min-width: 1025px) {
  mat-card img {
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 70%;
  }
}

.chalkboard {

  max-width: 500px;
  min-width: 300px;
  max-height: 1200px;
  min-height: 700px;
  text-align: center;
  margin: auto;
}

.chalkboard img {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.chalkboard h2 {
  color: white;
}

.chalkboard p {
  margin: auto;
  text-align: center;
  max-width: 450px;
  min-width: 200px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: italic;
}

.flower-header {
  width: 100%;
  background-position: center;
  background-image: url("../../assets/images/flower_header.jpg");
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.rsvp {
  margin: auto;
  text-align: center;
  max-width: 500px;
  min-width: 200px;
}


.rsvp label{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: italic;
}

.rsvp mat-radio-button {
  margin-left: 10px;
}

#travel-option > .mat-radio-label-content {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 18px;
  color: #828282;
  font-weight: normal !important;
}
