<div class="flower-header">
  <img>
</div>

<div class="rsvp fh5co-heading">
  <h2>R.S.V.P.</h2>
  <label>Hi {{firstName}}, are you able to attend our wedding? </label>
  <br>
  <p>(If you are still not sure, please contact the bride and groom for special arrangements.)</p>
  <br>
  <mat-radio-group [(ngModel)]="attending">
    <mat-radio-button value="1">Yes, looking forward to it! </mat-radio-button>
    <mat-radio-button value="3">Sadly can't make it.</mat-radio-button>
  </mat-radio-group>
  <br>
  <br>

  <div *ngIf="attending==='1'">
    <p>Fantastic!</p>
    <p>Please make your Main meal choice and tell us any dietary requirements.
      Below is the menu that will be served on the day.</p>
  </div>
  <p *ngIf="attending==='3'">That's a shame. You will be missed!</p>
</div>

<div *ngIf="attending==='1'" >
  <form [formGroup]="formGroup">
    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step label="  Starter" matStepperNext>
      <span class="meal-options-space">
      <mat-card *ngFor="let starter of starters" [ngClass]="getMealStyle('starter', starter)" (click)="mealClickEvent('starter', starter, stepper)">
        <img mat-card-image src={{starter.imageUrl}} alt="Photo of {{starter.name}}">
     <mat-card-header>
          <mat-card-subtitle>{{starter.name}}</mat-card-subtitle>
     </mat-card-header>
      </mat-card>
      </span>
      </mat-step>
      <mat-step label="  Soup">
      <span class="meal-options-space">
      <mat-card *ngFor="let soup of soups" [ngClass]="getMealStyle('soup', soup)" (click)="mealClickEvent('soup', soup, stepper)">
        <img mat-card-image src={{soup.imageUrl}} alt="Photo of {{soup.name}}">
        <mat-card-header>
          <mat-card-subtitle>{{soup.name}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      </span>
      </mat-step>
      <mat-step label="  Main">
      <span class="meal-options-space">
      <mat-card *ngFor="let main of mains" [ngClass]="getMealStyle('main', main)" (click)="mealClickEvent('main', main, stepper)">
        <img mat-card-image src={{main.imageUrl}} alt="Photo of {{main.name}}">
        <mat-card-header>
          <mat-card-subtitle>{{main.name}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      </span>
      </mat-step>
      <mat-step label="  Dessert">
      <span class="meal-options-space">
      <mat-card *ngFor="let dessert of desserts" [ngClass]="getMealStyle('dessert', dessert)" (click)="mealClickEvent('dessert', dessert, stepper)">
        <img mat-card-image src={{dessert.imageUrl}} alt="Photo of {{dessert.name}}">
        <mat-card-header>
          <mat-card-subtitle>{{dessert.name}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      </span>
      </mat-step>
      <mat-step label="  Menu Review">
        <div style="margin-left: -36px">
          <mat-card class="chalkboard fh5co-heading" style="background-image:url(../../assets/images/chalkboard.jpg);">
            <h2>Menu</h2>
            <img src="../../assets/images/floral-design.png" alt="Floral Design">
            <p>Starter: </p>
            <p>{{getMealChoice('starter')}}</p>
            <h2>~</h2>
            <p>Soup: </p>
            <p>{{getMealChoice('soup')}}</p>
            <h2>~</h2>
            <p>Main: </p>
            <p>{{getMealChoice('main')}}</p>
            <h2>~</h2>
            <p>Dessert: </p>
            <p>{{getMealChoice('dessert')}}</p>
            <h2>~</h2>
            <h2>Bon Appétit! <3</h2>
            <img src="../../assets/images/floral-twirl.png" alt="Twirl">
          </mat-card>
        </div>

      </mat-step>
      <!-- Icon overrides. -->
      <ng-template matStepperIcon="number" let-index="index">
        <mat-icon svgIcon="{{icons[index]}}"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="edit" let-index="index">
        <mat-icon svgIcon="{{icons[index]}}"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done" let-index="index">
        <mat-icon svgIcon="{{icons[index]}}"></mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </form>
<div id="dietary-requirements">
  <label>Please detail any dietary requirements we should pass onto the caterers. </label>
  <br>
  <textarea matInput
            [(ngModel)]="dietary"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"></textarea>

  <br>
  <br>
  <label>On the night of the wedding, you will be:</label>
  <br>
</div>
  <mat-radio-group [(ngModel)]="staying_at" id="travel-option">
    <mat-radio-button value="Western House Hotel">staying at the Western House Hotel</mat-radio-button>
    <br>
    <mat-radio-button value="Premier Inn">staying at the Premier Inn</mat-radio-button>
    <br>
    <mat-radio-button value="postcode">travelling back to :</mat-radio-button> <input [(ngModel)]="postcode" placeholder="(enter postcode)">
    <br>
    <mat-radio-button value="N/A">would rather not say</mat-radio-button>
  </mat-radio-group>
</div>

<div class="rsvp" id="fh5co-started">
  <button class="btn btn-default" type="button" (click)="submitInviteResponse()">Send my R.S.V.P.</button>
</div>


