<br>
<br>
<br>
<br>
{{firstName}}
{{lastName}}
<label id="example-radio-group-label">Can you attend our Wedding? </label>
<mat-radio-group [(ngModel)]="attending" aria-labelledby="example-radio-group-label" aria-label="Can you attend our wedding?">
  <mat-radio-button value="1">Yes</mat-radio-button>
  <mat-radio-button value="3">No</mat-radio-button>
</mat-radio-group>
<form [formGroup]="formGroup">
  <mat-vertical-stepper *ngIf="attending==='1'" [linear]="false" #stepper>
    <mat-step label="  Starter">
      <span class="meal-options-space">
      <mat-card *ngFor="let starter of starters" [ngClass]="getMealStyle('starter', starter)" (click)="mealClickEvent('starter', starter)">
        <img mat-card-image src={{starter.imageUrl}} alt="Photo of {{starter.name}}">
     <mat-card-header>
          <mat-card-subtitle>{{starter.name}}</mat-card-subtitle>
     </mat-card-header>
      </mat-card>
      </span>
      <br>
      <div>
        <button [ngClass]="{'selected-option': menuChoice['starter'] !== null}" mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step label="  Soup">
      <span class="meal-options-space">
      <mat-card *ngFor="let soup of soups" [ngClass]="getMealStyle('soup', soup)" (click)="mealClickEvent('soup', soup)">
        <img mat-card-image src={{soup.imageUrl}} alt="Photo of {{soup.name}}">
        <mat-card-header>
          <mat-card-subtitle>{{soup.name}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      </span>
      <br>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button [ngClass]="{'selected-option': menuChoice['soup'] !== null}"  mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step label="  Main">
      <span class="meal-options-space">
      <mat-card *ngFor="let main of mains" [ngClass]="getMealStyle('main', main)" (click)="mealClickEvent('main', main)">
        <img mat-card-image src={{main.imageUrl}} alt="Photo of {{main.name}}">
        <mat-card-header>
          <mat-card-subtitle>{{main.name}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      </span>
      <br>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button [ngClass]="{'selected-option': menuChoice['main'] !== null}"  mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step label="  Dessert">
      <span class="meal-options-space">
      <mat-card *ngFor="let dessert of desserts" [ngClass]="getMealStyle('dessert', dessert)" (click)="mealClickEvent('dessert', dessert)">
        <img mat-card-image src={{dessert.imageUrl}} alt="Photo of {{dessert.name}}">
        <mat-card-header>
          <mat-card-subtitle>{{dessert.name}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      </span>
      <br>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button [ngClass]="{'selected-option': menuChoice['dessert'] !== null}"  mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step label="  Menu Review">
      <mat-form-field>
        <input matInput placeholder="Menu Review">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
      </div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="number" let-index="index">
      <mat-icon svgIcon="{{icons[index]}}"></mat-icon>
    </ng-template>
    <ng-template matStepperIcon="edit" let-index="index">
      <mat-icon svgIcon="{{icons[index]}}"></mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done" let-index="index">
      <mat-icon svgIcon="{{icons[index]}}"></mat-icon>
    </ng-template>
  </mat-vertical-stepper>
  <button mat-button type="button" (click)="submitInviteResponse()">Submit</button>
</form>
