<div id="fh5co-couple-story">
  <div class="container">
    <div class="row" ngsReveal>
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2>Our Story</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0">
        <ul class="timeline animate-box" ngsRevealSet [ngsSelector]="'.animate-box'">
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-1.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Early Days</h3>
                <span class="date">December, 2013</span>
              </div>
              <div class="timeline-body">
                <p>Started dating</p>
              </div>
            </div>
          </li>
          <li class="animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-2.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">European Adventures</h3>
                <span class="date">Summer 2015</span>
              </div>
              <div class="timeline-body">
                <p>Malta, Denmark, Paris, Oersberg</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-3.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Life In Munich</h3>
                <span class="date">October 2015 - August 2016</span>
              </div>
              <div class="timeline-body">
                <p>Living together, new country, new uni, new friends, what a time</p>
              </div>
            </div>
          </li>
          <li class="animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-4.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">A year apart</h3>
                <span class="date">September 2016 - August 2017</span>
              </div>
              <div class="timeline-body">
                <p>Distance makes the heart grow fonder</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-5.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Proposal</h3>
                <span class="date">December 24, 2017</span>
              </div>
              <div class="timeline-body">
                <p>She said yes ;)</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(../../assets/images/img_bg_5.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2>Our Life Together</h2>
        <span>So Far</span>
      </div>
    </div>
    <div class="row">
      <div class="display-t">
        <div class="display-tc">
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-users"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="500" data-speed="5000" data-refresh-interval="50">12</span>
              <span class="counter-label">Countries Visited</span>

            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-user"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="1000" data-speed="5000" data-refresh-interval="50">66</span>
              <span class="counter-label">Months</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-calendar"></i>
              </span>
              <span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">5467</span>
              <span class="counter-label">Miles Travelled</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-clock"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="2345" data-speed="5000" data-refresh-interval="50">100</span>
              <span class="counter-label">Something funny & cute</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
