<div id="fh5co-couple-story">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2>Our Story</h2>
        <p>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0">
        <ul class="timeline animate-box">
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/lecture.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Early Days</h3>
                <span class="date">December, 2013</span>
              </div>
              <div class="timeline-body">
                <p>Our story began back in September 2013, when we were both freshers at Strathclyde University.
                  During the campus introduction lecture, the presenter ended by joking that “uni life is exciting and unpredictable, and who knows, you might even marry the person sitting next to you”.
                  Indeed Ira was actually sitting next to Des that day :) In fact she winked at Des jokingly, because she recognised him from the course and was in a giddy mood.
                  Throughout the rest of the semester, we became good friends and in only a short few months fell in love!
                </p>
              </div>
            </div>
          </li>
          <li class="animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/denmark.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">European Adventures</h3>
                <span class="date">Summer 2015</span>
              </div>
              <div class="timeline-body">
                <p>Our first big holiday together was an adventure all across Europe. We lived on a farm in Oersberg in the most northern reaches of Germany,
                sampled the best life Christiania has to offer in Denmark and went sunbathing and swimming in Malta.</p>
                <br>
                <p>It was only that summer Ira found out that, while Des has been the knight in shining armour protecting her from spiders for years, he is actually scared of them himself!
                This, admittedly, swept Ira off her feet all over again.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-3.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Life In Munich</h3>
                <span class="date">October 2015 - August 2016</span>
              </div>
              <div class="timeline-body">
                <p>Our next milestone was moving in together for a university exchange program in Munich for 12 months.
                Along the way we met loads of amazing friends and shared so many wonderful experiences together!
                It was also then that a piggy bank rule in our home was established, so Ira gets cheered up by a cute piggy
                bank when picking up a neverending stream of coins Des manages to scatter around the house.</p>
                <br>
                <p>Also, living so close to the Alps was a hikers wet dream! 😂🚶‍♀️🚶‍♂️⛰️ </p>
              </div>
            </div>
          </li>
          <li class="animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-4.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">A year apart</h3>
                <span class="date">September 2016 - August 2017</span>
              </div>
              <div class="timeline-body">
                <p>The next 12 months were a bit tougher as we split apart for the first time with Des living and working in Munich and Ira back in Glasgow studying.
                  We braved through it and were reunited once again in Glasgow.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(../../assets/images/couple-5.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Proposal</h3>
                <span class="date">December 24, 2017</span>
              </div>
              <div class="timeline-body">
                <p>Following a build up of an advent calendar, which had photo albums of our adventures (linked via QR-Codes, of course.. did you expect no tech from the guy who wrote a birthday gift program :p ), the Christmas Eve album ended with the words "close your eyes" and when Ira opened them, Des was down on one knee asking her to be his wife.</p>
                <br>
                <p>No guesses as to what her response was 😉</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(../../assets/images/west_highland_way.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2>Our Life Together</h2>
        <span>So Far</span>
      </div>
    </div>
    <div class="row">
      <div class="display-t">
        <div class="display-tc">
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-globe"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="10" data-speed="2000" data-refresh-interval="50"></span>
              <span class="counter-label">Countries Visited</span>

            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-calendar"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="66" data-speed="2000" data-refresh-interval="50"></span>
              <span class="counter-label">Months</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-paper-plane"></i>
              </span>
              <span class="counter js-counter" data-from="0" data-to="5467" data-speed="2000" data-refresh-interval="50"></span>
              <span class="counter-label">Miles Travelled</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-basecamp"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="13" data-speed="2000" data-refresh-interval="50"></span>
              <span class="counter-label">Mountains Climbed</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
