
<div id="fh5co-event" class="fh5co-bg" style="background-image:url(../../assets/images/img_bg_3.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row" ngsReveal>
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2>Wedding Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="display-t">
        <div class="display-tc">
          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-sm-6 text-center" ngsReveal>
              <div class="event-wrap animate-box">
                <h3>Ceremony</h3>
                <div class="event-col">
                  <i class="icon-clock"></i>
                  <span>12:00 PM</span>
                  <span>1:30 PM</span>
                </div>
                <div class="event-col">
                  <i class="icon-calendar"></i>
                  <span>Sunday 16</span>
                  <span>June, 2019</span>
                </div>
                <p>The bridal party will be getting ready at the mother of the bride's house, Glasgow. We will have a civil ceremony at the Western House Hotel, Ayr, Scotland. It would be outside or inside, depending on the weather.</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 text-center" ngsReveal>
              <div class="event-wrap animate-box">
                <h3>Wedding Party</h3>
                <div class="event-col">
                  <i class="icon-clock"></i>
                  <span>1:30 PM</span>
                  <span>12:00 AM</span>
                </div>
                <div class="event-col">
                  <i class="icon-calendar"></i>
                  <span>Sunday 16</span>
                  <span>June, 2019</span>
                </div>
                <p>Let's party! You won't have to go far - reception is in the same hotel :) Lunch planned for 2:30 pm, dinner - 7:00 pm onwards.
                  There is a cash bar and a dancefloor!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
