<div id="fh5co-couple-story">
  <div class="container">
    <div class="row" ngsReveal>
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2>Accommodation</h2>
        <p>If you are looking for a place to stay, we would recommend either Western House Hotel - which is the wedding venue hotel itself or Premier Inn - it is conveniently a short taxi down the road.</p>
      </div>
    </div>
    <div class="row">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Western House Hotel
          </mat-expansion-panel-header>
          <div class="row">
          <div class="col-md-5 animate-box">
            <img src="../../assets/images/western_house_hotel.jpg" alt="Western House Hotel Front">

          </div>
          <div class="col-md-5 animate-box">
            <div class="fh5co-contact-info">
              <h3>Contact Information</h3>
              <ul>
                <li class="address">Western House Hotel,<br> Craigie Road, Ayr, Scotland KA8 0HA </li>
                <li class="phone"><a href="tel://1234567920"> +44 1292 294990</a></li>
                <li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                <li class="url"><a href="https://www.westernhousehotel.co.uk/">https://www.westernhousehotel.co.uk/</a></li>
              </ul>
            </div>

          </div>



          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Premier Inn
          </mat-expansion-panel-header>

          <h3>Contact Information</h3>
          <ul>
            <li class="address">Western House Hotel,<br> Craigie Road, Ayr, Scotland KA8 0HA </li>
            <li class="phone"><a href="tel://1234567920"> +44 1292 294990</a></li>
            <li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
            <li class="url"><a href="https://www.westernhousehotel.co.uk/">https://www.westernhousehotel.co.uk/</a></li>
          </ul>

        </mat-expansion-panel>

      </mat-accordion>

    </div>

  </div>
</div>

<div id="map" class="fh5co-map"></div>
