<div id="accommodation" class="fh5co-section">
  <div class="container">
    <div class="row" ngsReveal>
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2>Accommodation</h2>
        <p>If you are looking for a place to stay on the night of the wedding, we would recommend either Western House Hotel - which is the wedding venue hotel itself or Premier Inn - it is conveniently a short taxi down the road.</p>
        <p>The venue is in Ayr - a small seaside town. It is 45 min travel from Glasgow - Scotland's largest city. If you plan to stay longer, it might be best to stay more centrally other nights. We are here if you have questions :)  </p>

      </div>
    </div>
    <div class="row">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <b><i>Western House Hotel</i></b>
          </mat-expansion-panel-header>
          <div class="row">
          <div class="col-md-4 animate-box">
            <img class="hotel" src="../../assets/images/western_house_hotel.jpg" alt="Western House Hotel Front">

          </div>
          <div class="col-md-6 animate-box">
            <div class="fh5co-contact-info">
              <p class="text">Contact Information:</p>
              <ul>
                <li class="address"> <p class="text"> Western House Hotel, Craigie Road, Ayr, Scotland KA8 0HA </p> </li>
                <li class="speech"> <p class="text"> Accommodation rate for wedding guests (on the night of the wedding only) is discounted. Call and mention our names when booking. </p> </li>
                <li class="phone"><a href="tel://1234567920"> +44 1292 294990</a></li>
                <li class="email"><a href="https://www.westernhousehotel.co.uk/about-us/contact-us/">Click to email via website</a></li>
                <li class="url"><a href="https://www.westernhousehotel.co.uk/">https://www.westernhousehotel.co.uk/</a></li>

              </ul>
            </div>
          </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <b><i>Premier Inn</i></b>
          </mat-expansion-panel-header>

          <div class="row">
            <div class="col-md-4 animate-box">
              <img class="hotel" src="../../assets/images/premier_inn.jpg" alt="Premier Inn Front">
            </div>
            <div class="col-md-6 animate-box">
              <div class="fh5co-contact-info, text">
                <p>Contact Information:</p>
                <ul>
                  <li class="address">Premier Inn,<br> Wheatpark Place, Ayr, Ayrshire KA8 9RT</li>
                  <li class="phone"><a href="tel://1234567920"> +44 333 003 8101</a></li>
                  <li class="url"><a href="https://www.premierinn.com/gb/en/hotels/scotland/strathclyde/ayr/ayr-a77racecourse.html?cid=GLBC_AYRWHE">Click to book via website</a></li>
                </ul>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
