<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../assets/images/img_bg_1.jpg); height: 120px;">
</header>

<button mat-fab color="primary" (click)="confirmAction(emailAll, [])">Email All</button>
<h3>Attending: {{attendingGuests}}</h3>
<h3>PlusOnes: {{plusOnes}}</h3>
<h3>Not Attending: {{nonAttendingGuests}}</h3>
<mat-card>
  <mat-card-title>New Guest</mat-card-title>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]="newGuest.first_name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]="newGuest.last_name">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" placeholder="Contact Email" [(ngModel)]="newGuest.contact_email" email>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Contact Phone No." [(ngModel)]="newGuest.contact_phone">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Extra Info" [(ngModel)]="newGuest.extra_info"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Food choice" [(ngModel)]="newGuest.meal_choice">
        <mat-option value="1">Steak</mat-option>
        <mat-option value="2">Cheese</mat-option>
        <mat-option value="3">Cake</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <mat-select placeholder="Attending?" [(value)]="newGuest.attending" [compareWith]="compareFn">
        <mat-option value="1">Yes</mat-option>
        <mat-option value="2">Maybe</mat-option>
        <mat-option value="3">No</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="newGuest.plus_one_offered">Plus One Offered</mat-checkbox>

    <mat-checkbox [(ngModel)]="newGuest.plus_one_needed">Plus One Needed</mat-checkbox>

    <mat-checkbox [(ngModel)]="newGuest.attending_ceremony">Ceremony?</mat-checkbox>

    <button (click)="addGuest()" mat-fab>Add</button>
  </div>
</mat-card>

<div *ngFor="let guest of guests">
  <mat-card
    [ngStyle]="{'background-color':guest.guest == 'true' ? '' : '#f8e9d5' }">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="guest.first_name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="guest.last_name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="email" placeholder="Contact Email" [(ngModel)]="guest.contact_email" email>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contact Phone No." [(ngModel)]="guest.contact_phone">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Extra Info" [(ngModel)]="guest.extra_info"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Food choice" [(value)]="guest.meal_choice" [compareWith]="compareFn">
          <mat-option value="1">Steak</mat-option>
          <mat-option value="2">Cheese</mat-option>
          <mat-option value="3">Cake</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Attending?" [(value)]="guest.attending" [compareWith]="compareFn">
          <mat-option value="1">Yes</mat-option>
          <mat-option value="2">Maybe</mat-option>
          <mat-option value="3">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="guest.plus_one_offered">Plus One Offered</mat-checkbox>

      <mat-checkbox [(ngModel)]="guest.plus_one_needed">Plus One Needed</mat-checkbox>

      <mat-checkbox [(ngModel)]="guest.attending_ceremony">Ceremony?</mat-checkbox>

      <button (click)="confirmAction(removeGuest, [guest.id])" mat-fab>Delete</button>

      <button (click)="confirmAction(updateGuest, [guest.id])" mat-fab>Update</button>

      <button [disabled]="!guest.contact_email" (click)="confirmAction(emailGuest, [guest.contact_email])" mat-fab>Email</button>

      <button [disabled]="!guest.contact_email" (click)="confirmAction(goToInvite, [guest.id, guest.guest])" mat-fab>Invite</button>
    </div>
  </mat-card>
</div>
